<div class="container">
  <div class="row">
    <div class="col-md-6 order-sm-1">
      <input [(ngModel)]="priceSource" class="form-control" placeholder={{baseSource}}>
    </div>
    <div class="col-md-6 order-sm-2">
      <input [(ngModel)]="priceTarget" class="form-control" placeholder={{baseTarget}} readonly>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center m-3">
  <button type="button" class="btn btn-primary" (click)='convert()'>
    <span>Calculate</span>
  </button>
</div>
